/* General Styles */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

body {
  font-family: 'Poppins', 'Crimson Pro', 'Libre Baskerville', 'Merriweather', 'Playfair Display', 'Source Serif Pro', 'Arial', sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
}

.header-text {
  cursor: pointer;
  position: relative;
  transition: color 0.3s;
}
.header-text:hover {
  color: #5cb248;
}
.header-text:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #5cb248;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.header-text:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.nav-link {
  position: relative;
  transition: color 0.3s;
}
.nav-link:hover {
  color: #5cb248;
}
.nav-link::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #5cb248;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.nav-link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.main-content {
  background-color: #f8f9fa;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  display: flex;
  z-index: 1; /* Ensure main content is below the header */
}

.card-wrapper {
  display: flex;
}

.card {
  transition: transform 0.3s, box-shadow 0.3s;
}
.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.site-footer {
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1; /* Ensure footer is below the header */
}

/* Header and dropdown positioning */
header {
  position: relative;
  z-index: 10; /* Ensure header is above other content */
}

#dropdown-menu {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 10; /* Ensure dropdown is above other content */
}

/* Animation for slide down */
@keyframes slide-down {
  0% {
      transform: translateY(-20px);
      opacity: 0;
  }
  100% {
      transform: translateY(0);
      opacity: 1;
  }
}
@keyframes slide-up {
  0% {
      transform: translateY(0);
      opacity: 1;
  }
  100% {
      transform: translateY(-20px);
      opacity: 0;
  }
}
.animate-slide-down {
  animation: slide-down 0.3s ease-out;
}
.animate-slide-up {
  animation: slide-up 0.3s ease-out;
}

/* Media Queries */
@media (min-width: 993px) {
  .container {
    max-width: 960px;
    padding: 0 20px;
  }

  .card-description {
    min-height: 96px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 720px;
    padding: 0 20px;
  }

  .card-description {
    min-height: 96px;
  }
}

 @media (max-width: 767px) {
  header .container {
    flex-direction: row;
    justify-content: space-between;
  }
  .header-text {
    text-align: center;
    margin-top: 20px;
  }
  .nav-link {
    display: block;
    text-align: center;
  }
  .main-content {
    flex-direction: column;
    padding: 20px;
  }
  .card {
    width: 100%;
    margin-bottom: 20px;
  }
  .card-description {
    min-height: 10px;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 540px;
    padding: 0 20px;
  }
  .header-text {
    font-size: 1.5rem;
  }
  .nav-link {
    font-size: 1rem;
  }
  .main-content {
    padding: 10px;
  }
  .card {
    width: 100%;
    margin-bottom: 20px;
  }
} 
